<div flex layout="row" layout-padding layout-align="center center">
    <md-whiteframe flex="60" layout="column" class="md-whiteframe-24dp">
        <md-content>
            <md-toolbar layout-align="center center" class="md-primary">
                About This Application
            </md-toolbar>
            <div layout-padding>
                <p> This application was created as part of a project in fullfilment of the requirements towards the awarding of BSC in Computer Engineering. Created by Kwabena Manu</p>
            </div>
        </md-content>
    </md-whiteframe>
</div>
