<div flex layout="row" layout-padding layout-align="center center">
    <md-whiteframe flex="80" layout="column" class="md-whiteframe-24dp">
        <md-content>
            <md-toolbar layout-align="center center" class="md-primary">
                Data
            </md-toolbar>
            <div layout-align="center center" layout-padding>
                <div layout-wrap layout="row" layout-align="center center" layout-padding>
                    <!--Data set buttons. Obviously to be ng repeated-->
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                    <md-button class="md-primary"> Data Set</md-button>
                </div>
                <div>
                    <!--Data set content tabs-->
                    <md-tabs md-center-tabs class="md-warn" md-dynamic-height md-border-bottom>
                        <md-tab label="Raw Data">
                            <div layout="column" layout-padding layout-align="center center">
                                Raw Data Body
                            </div>
                        </md-tab>
                        <md-tab label="Analysis Results">
                            <div layout="column" layout-padding layout-align="center center">
                                Analysis Body
                            </div>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>
