<div flex layout="row" layout-padding layout-align="center center">
    <md-whiteframe flex="80" layout="column" class="md-whiteframe-24dp">
        <md-content>
            <md-toolbar layout-align="center center" class="md-primary">
                Information
            </md-toolbar>
            <div layout-align="center center" layout-padding>
                <div>
                    Locations:
                    <bold ng-repeat="place in dataInfo.places"> {{place}},</bold>
                </div>
                <div>
                    Duration: {{dataInfo.duration}} days.
                </div>
                <div>
                </div>
                <div layout-wrap layout="row" layout-align="center center" layout-padding>
                    <md-button class="md-primary" ng-click="selectInfo('freq')"> Frequency Analysis</md-button>
                    <md-button class="md-primary" ng-click="selectInfo('seq')"> Sequential Analysis</md-button>
                    <md-button class="md-primary" ng-click="selectInfo('clust')"> Cluster Analysis</md-button>
                </div>
                <div layout="column">
                    <md-toolbar layout-align="center center" class="md-warn">
                        Results
                    </md-toolbar>
                    <div>
                        <p>{{caption}}</p>
                    </div>
                    <div layout="column" layout-align="center center">
                        <!-- <div flex="30" ng-if="tab === 'seq'">
                            <div>
                                <img src={{legendURL}} alt="">
                            </div>
                        </div> -->
                        <div layout="column">
                            <div layout="column" layout-align="center center" style="max-width: 100%;" ng-repeat="data in images">
                                <div style="max-width: 100%;" layout="row" layout-align="center center">
                                    <div flex="30" ng-if="tab === 'seq'">
                                        <div>
                                            <img src={{legendURL}} alt="">
                                        </div>
                                    </div>
                                    <img flex style="max-width: 100%" src="{{data.path}}" alt="">
                                </div>
                                <p>{{data.caption}}</p>
                                <md-divider></md-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>
