<div layout="row" layout-align="center center">
    <div flex="5" flex-gt-sm="10">
    </div>
    <div layout="row" layout-padding flex="80">
        <md-whiteframe class="md-whiteframe-14dp" style=" height:100px;background-color:#E6E4EE;" flex-gt-md="30">
            <md-toolbar style="text-align:center" class="md md-primary">
                <p>Devices</p>
            </md-toolbar>
            <!-- ng repeat on the device list-->
            <div layout="column" style="background-color:#E6E4EE;" layout-align="center center" ng-repeat="sensor in sensorList">
                <md-button style="margin:5px;" ng-click="updateDetails(sensor)" class="md-raised">
                    {{sensor.deviceName}}
                </md-button>
            </div>
        </md-whiteframe>
        <md-whiteframe flex-gt-md="70" class="md-whiteframe-24dp" style=" background-color:#E6E4EE;">
            <!--Specification Pane-->
            <md-toolbar style="text-align:center" class="md md-warn">
                <p>Specification</p>
            </md-toolbar>
            <div layout="column" layout-align="center center">
                <!-- ng repeat on the device list-->
                <div layout-padding>
                    <md-card  style="background-color:transparent;text-align: center center;" ng-if="!sensor">
                        <div layout-padding >
                            <p>Please select a sensor device in the left pane</p>
                        </div>
                    </md-card>
                    <md-card style="background-color:transparent;" ng-if="sensor">
                        <md-card-title layout="row" layout-sm="column" flex>
                            <md-card-title-media flex="33">
                                <div style="max-width: 200px; max-height: 200px ; ">
                                    <img style="width:100%;height:100%;" src="{{imagePath}}" alt="Device Image">
                                </div>
                            </md-card-title-media>
                            <md-card-title-text flex>
                                <span class=" md-headline">Device Name: {{sensor.deviceName}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Device ID: {{sensor.deviceID}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">App Name: {{sensor.AppName}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Manufacturer: {{sensor.Manufacturer}} </span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Model Number: {{sensor.ModelNumber}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Software Version: {{sensor.SoftwareVersion}} </span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-subhead"><p>Device Description: {{sensor.Description}}</p></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button href="#/sensorData/{{sensor.deviceID}}" class="md-raised md-primary">View Data</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <div flex="5" flex-gt-sm="10">
    </div>
</div>
