<div layout="row" layout-align="start center">
    <div layout="row" layout-padding flex-offset-gt-md="20" flex="60">
        <md-whiteframe class="md-whiteframe-14dp" style=" height:100px;background-color:#E6E4EE;" flex-gt-md="20" >
            <md-toolbar style="text-align:center" class="md md-primary">
                <p>Devices</p>
            </md-toolbar>
            <!-- ng repeat on the device list-->
            <div layout="column" style="background-color:#E6E4EE;" layout-align="center center">
                <md-button style="margin:10px" ng-click="refreshInfo()" class="md-raised">
                    Device 1
                </md-button>
                <md-button style="margin:10px" ng-click="refreshInfo()" class="md-raised">
                    Device 2
                </md-button>
                <md-button style="margin:10px" ng-click="refreshInfo()" class="md-raised">
                    Device 3
                </md-button>
                <md-button style="margin:10px" ng-click="refreshInfo()" class="md-raised">
                    Device 4
                </md-button>
                <md-button style="margin:10px" ng-click="refreshInfo()" class="md-raised">
                    Device 5
                </md-button>
            </div>
        </md-whiteframe>
        <md-whiteframe flex-gt-md="80" class="md-whiteframe-24dp" style=" background-color:#E6E4EE;">
            <!--Specification Pane-->
            <md-toolbar style="text-align:center" class="md md-warn">
                <p>Specification</p>
            </md-toolbar>
            <div layout="column" layout-align="center center">
                <!-- ng repeat on the device list-->
                <div layout-padding>
                    <md-card style="background-color:transparent;">
                        <md-card-title layout="row" layout-sm="column" flex>
                            <md-card-title-media flex="33">
                                <div style="max-width: 200px; max-height: 200px ; ">
                                    <img style="width:100%;height:100%;" src="{{imagePath}}" alt="Device Image">
                                </div>
                            </md-card-title-media>
                            <md-card-title-text flex>
                                <span class=" md-headline">Device Name: {{device.name}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Device ID: {{device.id}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">App Name: {{device.appName}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Manufacturer: {{device.manufacturer}} </span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Model Number: {{device.modelNumber}}</span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-title">Software Version: {{device.softwareVersion}} </span>
                                <br>
                                <md-divider></md-divider>
                                <span class="md-subhead"><p>Device Description: {{device.description}}</p></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary">View Data</md-button>
                            <md-button class="md-raised md-primary">View Analysis</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <div flex flex-sm="0">
      
    </div>
</div>
